.navbar.is-white .navbar-end {
    a.navbar-item.is-active {
        background-color: #AFEFC7;
    }
}


.navbar.is-white.main-nav {
    .navbar-brand {
        .navbar-item {
            img.icon {
                height: 3.5rem;
                width: 3.5rem;
                max-height: 3.5rem;
                margin-right: 0.5em;
            }
        }
    }
}


