@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'Libre Baskerville',serif;

}
h1, h2, h3, h4, h5, h6 {
    font-family: Roboto,sans-serif;
}

h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.5em;
}
h4 {
    font-size: 1.25em;
}


.block.quote-block {
    .container {
        flex-direction: column;
        display: flex;
        figure {
            align-self:center;
            color: #14222E;
            width: 80%;
            display: flex;
            flex-direction: column;

            blockquote {
                color: #14222E;
                background-color: #F5EFE5;
                font-size: 1.5rem;
                font-weight: 300;
                margin: 3rem auto;
                margin-bottom: 1rem;
                font-size: 1.25rem;
                margin-top: 1rem;
                width: 80%;
            }

            .blockquote-footer {
                color: #14222E;
            }

            figcaption {
                align-self: flex-start;
            }
        }
    }
}
.navbar-brand {
    small {
        font-family: Lato,sans-serif;
        font-size: 75%;
        font-weight: 400;
        margin-left: .5rem;
    }
}
.lead {
    font-size: 1.2rem;
}